In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn


import warnings
warnings.filterwarnings('ignore')
from math import nan

In [49]:
num = pd.read_csv("numeros.csv")

In [50]:
num["Fecha"] = pd.to_datetime(num["Fecha"])
num["day"] = num["Fecha"].dt.strftime("%Y-%m-%d")
num["hour"] = num["Fecha"].dt.strftime("%H:%M:%S")
num

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS,day,hour
0,2017-01-01 00:00:00,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0,2017-01-01,00:00:00
1,2017-01-01 01:00:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0,2017-01-01,01:00:00
2,2017-01-01 02:00:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6,2017-01-01,02:00:00
3,2017-01-01 03:00:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4,2017-01-01,03:00:00
4,2017-01-01 04:00:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6,2017-01-01,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39390,2017-02-02 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-02,20:00:00
39391,2017-02-09 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-09,18:00:00
39392,2017-02-10 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-10,10:00:00
39393,2017-02-16 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-16,18:00:00
39394,2017-01-12 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-12,19:00:00

In [53]:
num.sort_values(by = 'Fecha', ascending = True, inplace = True)
num.Fecha

0       2017-01-01 00:00:00
1       2017-01-01 01:00:00
2       2017-01-01 02:00:00
3       2017-01-01 03:00:00
4       2017-01-01 04:00:00
                ...
28461   2021-06-30 20:00:00
28462   2021-06-30 21:00:00
28463   2021-06-30 22:00:00
28464   2021-06-30 23:00:00
28465                   NaT
Name: Fecha, Length: 39395, dtype: datetime64[ns]

In [56]:
from datetime import datetime

In [55]:
num.head()

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS,day,hour
0,2017-01-01 00:00:00,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0,2017-01-01,00:00:00
1,2017-01-01 01:00:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0,2017-01-01,01:00:00
2,2017-01-01 02:00:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6,2017-01-01,02:00:00
3,2017-01-01 03:00:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4,2017-01-01,03:00:00
4,2017-01-01 04:00:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6,2017-01-01,04:00:00

# Radiación solar

Si el mismo valor aparece más de 8 o 9 horas, es un dato inválido

In [57]:
from datetime import timedelta

In [58]:
import copy

In [59]:
df = copy.deepcopy(num)

Día es de 7 a 8

En el día si es un dato inferior de 0.1 es inválido

En la noche valores menores a 0.004 son 0

En la noche los valores deben ser menores a 0.1, sino es inválido