In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn


import warnings
warnings.filterwarnings('ignore')
from math import nan

In [2]:
num = pd.read_csv("numeros.csv")
num.head(10)

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS
0,1/1/2017,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0
1,1/1/2017 1:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0
2,1/1/2017 2:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6
3,1/1/2017 3:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4
4,1/1/2017 4:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6
5,1/1/2017 5:00,1.77,3.3,9.4,12.6,6.0,NaN,52.0,708.3,0.0,62.0,NaN,0.003,18.96,272.0,2.5
6,1/1/2017 6:00,1.99,6.3,9.5,15.7,5.0,NaN,55.0,708.8,0.0,65.0,NaN,0.003,18.15,270.0,2.4
7,1/1/2017 7:00,1.61,3.5,7.7,11.2,7.0,NaN,48.0,709.2,0.0,62.0,NaN,0.009,18.81,237.0,4.1
8,1/1/2017 8:00,1.67,6.6,8.0,14.6,7.0,NaN,31.0,709.7,0.0,63.0,NaN,0.066,18.68,277.0,2.8
9,1/1/2017 9:00,1.93,14.3,11.0,25.4,8.0,NaN,35.0,710.3,0.0,62.0,NaN,0.151,19.42,338.0,1.0

In [3]:
num.info

<bound method DataFrame.info of                  Fecha    CO    NO   NO2   NOx   O3  PM25   PM10    PRS  \
0             1/1/2017  2.47  16.0  15.1  31.1  6.0   NaN  143.0  709.2
1        1/1/2017 1:00  2.18   8.9  11.7  20.6  5.0   NaN  183.0  708.9
2        1/1/2017 2:00  1.77   2.0   8.6  10.5  6.0   NaN  142.0  708.5
3        1/1/2017 3:00  1.93   7.2  10.0  17.2  7.0   NaN  101.0  708.2
4        1/1/2017 4:00  1.70   2.1   8.6  10.7  7.0   NaN   85.0  707.9
...                ...   ...   ...   ...   ...  ...   ...    ...    ...
39390   2/2/2017 20:00   NaN   NaN   NaN   NaN  NaN   NaN    NaN    NaN
39391   2/9/2017 18:00   NaN   NaN   NaN   NaN  NaN   NaN    NaN    NaN
39392  2/10/2017 10:00   NaN   NaN   NaN   NaN  NaN   NaN    NaN    NaN
39393  2/16/2017 18:00   NaN   NaN   NaN   NaN  NaN   NaN    NaN    NaN
39394  1/12/2017 19:00   NaN   NaN   NaN   NaN  NaN   NaN    NaN    NaN

       RAINF    RH  SO2     SR   TOUT     WD   WS
0        0.0  64.0  NaN  0.004  19.46  300.0  3.0
1        0.0  66.0  NaN  0.004  18.92  226.0  2.0
2        0.0  56.0  NaN  0.004  20.42  246.0  2.6
3        0.0  52.0  NaN  0.004  21.21  152.0  5.4
4        0.0  54.0  NaN  0.004  20.47  232.0  3.6
...      ...   ...  ...    ...    ...    ...  ...
39390    0.0   NaN  NaN    NaN    NaN    NaN  NaN
39391    0.0   NaN  NaN    NaN    NaN    NaN  NaN
39392    0.0   NaN  NaN    NaN    NaN    NaN  NaN
39393    0.0   NaN  NaN    NaN    NaN    NaN  NaN
39394    NaN   NaN  NaN    NaN    NaN    NaN  NaN

[39395 rows x 16 columns]>

In [4]:
num.isnull().sum()

Fecha        1
CO       11086
NO       10315
NO2       9003
NOx       8549
O3        7438
PM25     10506
PM10      1673
PRS       2072
RAINF     2908
RH        1144
SO2      18909
SR        1047
TOUT      1229
WD        1123
WS        1204
dtype: int64

In [5]:
num.isna().sum()

Fecha        1
CO       11086
NO       10315
NO2       9003
NOx       8549
O3        7438
PM25     10506
PM10      1673
PRS       2072
RAINF     2908
RH        1144
SO2      18909
SR        1047
TOUT      1229
WD        1123
WS        1204
dtype: int64

Si el mismo valor aparece más de 8 o 9 horas, es un dato inválido

En el día si es un dato inferior de 0.1 es inválido

En la noche valores menores a 0.004 son 0

En la noche los valores deben ser menores a 0.1, sino es inválido

# Dirección del Viento

## Pasarlos a cuadrantes de 45 grados (variable categórica)

In [6]:
#Crear columna total
import copy 
new_df = copy.deepcopy(num)

In [10]:
new_df.drop_duplicates(subset=['WD'], keep='first')

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS
0,1/1/2017,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0
1,1/1/2017 1:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0
2,1/1/2017 2:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6
3,1/1/2017 3:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4
4,1/1/2017 4:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6523,10/17/2017,1.57,9.6,15.1,24.7,6.0,9.0,34.0,718.0,0.0,57.0,NaN,0.003,17.52,169.0,1.6
6532,10/17/2017 9:00,2.17,36.8,18.1,54.9,10.0,25.0,92.0,718.1,0.0,47.0,NaN,0.316,19.78,205.0,2.4
6712,10/24/2017 21:00,1.63,8.6,15.0,23.6,10.0,11.0,47.0,719.1,0.0,69.0,NaN,0.003,18.59,168.0,2.0
8111,12/22/2017 4:00,2.85,32.4,14.9,47.2,5.0,34.0,113.0,708.3,0.0,73.0,NaN,0.006,17.95,181.0,2.1
9101,2/1/2018 10:00,2.95,32.8,20.2,52.9,11.0,18.0,117.0,711.5,0.0,27.0,NaN,0.354,22.44,207.0,2.8

In [11]:
#new_df = new_df[(~new_df.duplicated(subset=['WD'], keep='first')) | (new_df['WD'].isnull())]

In [12]:
new_df.duplicated(subset=['WD'])

0        False
1        False
2        False
3        False
4        False
         ...
39390     True
39391     True
39392     True
39393     True
39394     True
Length: 39395, dtype: bool

for valor in new_df['WD']:
    #print(valor)
    if new_df.WD[valor] == new_df.WD[valor+1]:
        #indexNames = new_df.WD[valor+1].index
        #new_df.drop(new_df.WD[valor+1] , inplace=True)
        print(new_df.WD[valor])  
        print(new_df.WD[valor+1])

for valor in new_df['WD']:
    suma = 0
    if pd.isna(valor):
        suma += 1
        #indexNames = new_df[new_df.WD[i]].index
        #new_df.drop(indexNames , inplace=True)
        #print('Valor Nulo')

suma

# Diccionario de valores de dirección del viento: 

1: Norte
2: Noroeste
3: Oeste
4: Suroeste
5: Sur
6: Sureste
7: Este
8: Noreste

In [13]:
new_df.loc[num.WD <= 45,'Dirección_Viento']= 1
new_df.loc[(num.WD > 45) & (num.WD <= 90),'Dirección_Viento'] = 2  
new_df.loc[(num.WD > 90) & (num.WD <= 135),'Dirección_Viento'] = 3
new_df.loc[(num.WD > 135) & (num.WD <= 180),'Dirección_Viento'] = 4 
new_df.loc[(num.WD > 180) & (num.WD <= 225),'Dirección_Viento'] = 5
new_df.loc[(num.WD > 225) & (num.WD <= 270),'Dirección_Viento'] = 6
new_df.loc[(num.WD > 270) & (num.WD <= 315),'Dirección_Viento'] = 7
new_df.loc[num.WD > 315,'Dirección_Viento']= 8
#del(new_df['WD']) 
#new_df.tail(15)

In [14]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             39394 non-null  object
 1   CO                28309 non-null  float64
 2   NO                29080 non-null  float64
 3   NO2               30392 non-null  float64
 4   NOx               30846 non-null  float64
 5   O3                31957 non-null  float64
 6   PM25              28889 non-null  float64
 7   PM10              37722 non-null  float64
 8   PRS               37323 non-null  float64
 9   RAINF             36487 non-null  float64
 10  RH                38251 non-null  float64
 11  SO2               20486 non-null  float64
 12  SR                38348 non-null  float64
 13  TOUT              38166 non-null  float64
 14  WD                38272 non-null  float64
 15  WS                38191 non-null  float64
 16  Dirección_Viento  38272 non-null  float64
dtypes: float64(16), object(1)
memory usage: 5.1+ MB

In [15]:
new_df.tail(150)

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS,Dirección_Viento
39245,4/22/2018 3:00,NaN,NaN,NaN,NaN,NaN,NaN,54.0,711.0,0.0,67.0,NaN,0.006,22.41,287.0,2.0,7.0
39246,4/22/2018 4:00,NaN,NaN,NaN,NaN,NaN,NaN,48.0,711.2,0.0,69.0,NaN,0.006,21.97,250.0,1.3,6.0
39247,4/22/2018 5:00,NaN,NaN,NaN,NaN,NaN,NaN,50.0,711.5,0.0,70.0,NaN,0.006,22.01,325.0,1.7,8.0
39248,4/22/2018 6:00,NaN,NaN,NaN,NaN,NaN,NaN,47.0,711.7,0.0,69.0,NaN,0.006,22.07,186.0,1.1,5.0
39249,4/22/2018 7:00,NaN,NaN,NaN,NaN,NaN,NaN,40.0,712.1,0.0,70.0,NaN,0.028,21.95,37.0,1.2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39390,2/2/2017 20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39391,2/9/2017 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39392,2/10/2017 10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39393,2/16/2017 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39394,1/12/2017 19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN