In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn


import warnings
warnings.filterwarnings('ignore')
from math import nan

In [4]:
num = pd.read_csv("numeros.csv")
num.head()

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS
0,1/1/2017,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0
1,1/1/2017 1:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0
2,1/1/2017 2:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6
3,1/1/2017 3:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4
4,1/1/2017 4:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6

# Radiación solar

Si el mismo valor aparece más de 8 o 9 horas, es un dato inválido

En el día si es un dato inferior de 0.1 es inválido

En la noche valores menores a 0.004 son 0

En la noche los valores deben ser menores a 0.1, sino es inválido