In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn


import warnings
warnings.filterwarnings('ignore')
from math import nan

In [33]:
num = pd.read_csv("numeros.csv")
num.head()

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS
0,1/1/2017,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0
1,1/1/2017 1:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0
2,1/1/2017 2:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6
3,1/1/2017 3:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4
4,1/1/2017 4:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6

In [34]:
df.dtypes

Fecha     object
CO       float64
NO       float64
NO2      float64
NOx      float64
O3       float64
PM25     float64
PM10     float64
PRS      float64
RAINF    float64
RH       float64
SO2      float64
SR       float64
TOUT     float64
WD       float64
WS       float64
dtype: object

In [37]:
num["Fecha"] = pd.to_datetime(num["Fecha"])
num["day"] = num["Fecha"].dt.strftime("%Y-%m-%d")
num["hour"] = num["Fecha"].dt.strftime("%H:%M:%S")
num

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS,day,hour
0,2017-01-01 00:00:00,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0,2017-01-01,00:00:00
1,2017-01-01 01:00:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0,2017-01-01,01:00:00
2,2017-01-01 02:00:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6,2017-01-01,02:00:00
3,2017-01-01 03:00:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4,2017-01-01,03:00:00
4,2017-01-01 04:00:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6,2017-01-01,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39390,2017-02-02 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-02,20:00:00
39391,2017-02-09 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-09,18:00:00
39392,2017-02-10 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-10,10:00:00
39393,2017-02-16 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-16,18:00:00
39394,2017-01-12 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-12,19:00:00

In [39]:
num.sort_values(by='day')

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS,day,hour
0,2017-01-01 00:00:00,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0,2017-01-01,00:00:00
23,2017-01-01 23:00:00,1.89,4.3,15.1,19.4,6.0,NaN,54.0,707.4,0.0,65.0,NaN,0.005,19.29,293.0,1.7,2017-01-01,23:00:00
22,2017-01-01 22:00:00,2.03,7.7,17.0,24.7,5.0,NaN,48.0,707.4,0.0,61.0,NaN,0.005,20.23,229.0,3.0,2017-01-01,22:00:00
21,2017-01-01 21:00:00,1.96,5.3,15.8,21.0,9.0,NaN,30.0,707.3,0.0,61.0,NaN,0.005,21.08,283.0,2.2,2017-01-01,21:00:00
20,2017-01-01 20:00:00,1.56,1.2,6.7,8.0,32.0,NaN,28.0,707.2,0.0,53.0,NaN,0.004,22.73,125.0,4.1,2017-01-01,20:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28441,2021-06-30 00:00:00,1.77,NaN,1.8,3.5,25.0,5.99,25.0,712.3,0.0,81.0,1.8,0.000,21.87,108.0,5.1,2021-06-30,00:00:00
28464,2021-06-30 23:00:00,1.88,1.5,5.0,6.7,16.0,5.07,23.0,712.5,0.0,80.0,NaN,0.000,22.93,62.0,7.5,2021-06-30,23:00:00
28451,2021-06-30 10:00:00,1.95,4.4,5.6,10.3,20.0,7.25,47.0,713.0,0.0,71.0,NaN,0.368,23.68,59.0,8.7,2021-06-30,10:00:00
28463,2021-06-30 22:00:00,1.86,1.5,4.2,5.8,18.0,4.14,24.0,712.2,0.0,82.0,1.8,0.000,22.58,61.0,5.2,2021-06-30,22:00:00
28465,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
from datetime import datetime

In [31]:
num = datetime.strptime(num["Fecha"], "%d-%m-%y %H:%M")
num["day"] = num.strftime("%Y-%m-%d")
num["hour"] = num.strftime("%H:%M:%S")

TypeError: strptime() argument 1 must be str, not Series

# Radiación solar

Si el mismo valor aparece más de 8 o 9 horas, es un dato inválido

In [7]:
from datetime import timedelta

In [9]:
import copy

In [13]:
df = copy.deepcopy(num)

Día es de 7 a 8

En el día si es un dato inferior de 0.1 es inválido

En la noche valores menores a 0.004 son 0

En la noche los valores deben ser menores a 0.1, sino es inválido