In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn


import warnings
warnings.filterwarnings('ignore')
from math import nan

In [2]:
num = pd.read_csv("numeros.csv")
num.head()

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS
0,1/1/2017,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0
1,1/1/2017 1:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0
2,1/1/2017 2:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6
3,1/1/2017 3:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4
4,1/1/2017 4:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6

In [3]:
num["Fecha"] = pd.to_datetime(num["Fecha"])
num["day"] = num["Fecha"].dt.strftime("%Y-%m-%d")
num["hour"] = num["Fecha"].dt.strftime("%H:%M:%S")
num

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS,day,hour
0,2017-01-01 00:00:00,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0,2017-01-01,00:00:00
1,2017-01-01 01:00:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0,2017-01-01,01:00:00
2,2017-01-01 02:00:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6,2017-01-01,02:00:00
3,2017-01-01 03:00:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4,2017-01-01,03:00:00
4,2017-01-01 04:00:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6,2017-01-01,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39390,2017-02-02 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-02,20:00:00
39391,2017-02-09 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-09,18:00:00
39392,2017-02-10 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-10,10:00:00
39393,2017-02-16 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-16,18:00:00
39394,2017-01-12 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-12,19:00:00

In [4]:
import copy 
new_df = copy.deepcopy(num)

In [8]:
new_df = new_df.drop_duplicates(subset=['WD','day'], keep='first')

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS,day,hour,Dirección_Viento
0,2017-01-01 00:00:00,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0,2017-01-01,00:00:00,7.0
1,2017-01-01 01:00:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0,2017-01-01,01:00:00,6.0
2,2017-01-01 02:00:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6,2017-01-01,02:00:00,6.0
3,2017-01-01 03:00:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4,2017-01-01,03:00:00,4.0
4,2017-01-01 04:00:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6,2017-01-01,04:00:00,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39388,2017-02-01 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,25.0,NaN,2017-02-01,11:00:00,1.0
39389,2017-02-02 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-02,18:00:00,NaN
39391,2017-02-09 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-09,18:00:00,NaN
39392,2017-02-10 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-10,10:00:00,NaN
39393,2017-02-16 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-16,18:00:00,NaN

# Diccionario de valores de dirección del viento:

1: Norte 2: Noroeste 3: Oeste 4: Suroeste 5: Sur 6: Sureste 7: Este 8: Noreste

In [5]:
new_df.loc[num.WD <= 45,'Dirección_Viento']= 1
new_df.loc[(num.WD > 45) & (num.WD <= 90),'Dirección_Viento'] = 2  
new_df.loc[(num.WD > 90) & (num.WD <= 135),'Dirección_Viento'] = 3
new_df.loc[(num.WD > 135) & (num.WD <= 180),'Dirección_Viento'] = 4 
new_df.loc[(num.WD > 180) & (num.WD <= 225),'Dirección_Viento'] = 5
new_df.loc[(num.WD > 225) & (num.WD <= 270),'Dirección_Viento'] = 6
new_df.loc[(num.WD > 270) & (num.WD <= 315),'Dirección_Viento'] = 7
new_df.loc[num.WD > 315,'Dirección_Viento']= 8

In [6]:
new_df.tail(15)

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS,day,hour,Dirección_Viento
39380,2018-04-26 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,712.3,0.0,78.0,NaN,0.006,16.22,68.0,5.6,2018-04-26,06:00:00,2.0
39381,2018-04-26 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,712.8,0.0,77.0,NaN,0.012,15.86,93.0,6.5,2018-04-26,07:00:00,3.0
39382,2018-04-26 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,713.2,0.0,76.0,NaN,0.036,15.75,90.0,6.4,2018-04-26,08:00:00,2.0
39383,2017-01-05 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-05,18:00:00,NaN
39384,2017-01-12 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-12,18:00:00,NaN
39385,2017-01-19 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-19,18:00:00,NaN
39386,2017-01-26 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,94.0,NaN,2017-01-26,18:00:00,3.0
39387,2017-01-26 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-26,20:00:00,NaN
39388,2017-02-01 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,25.0,NaN,2017-02-01,11:00:00,1.0
39389,2017-02-02 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-02,18:00:00,NaN
39390,2017-02-02 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-02,20:00:00,NaN
39391,2017-02-09 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-09,18:00:00,NaN
39392,2017-02-10 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-10,10:00:00,NaN
39393,2017-02-16 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-16,18:00:00,NaN
39394,2017-01-12 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-12,19:00:00,NaN