In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn


import warnings
warnings.filterwarnings('ignore')
from math import nan

In [2]:
num = pd.read_csv("numeros.csv")
num.head()

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS
0,1/1/2017,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0
1,1/1/2017 1:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0
2,1/1/2017 2:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6
3,1/1/2017 3:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4
4,1/1/2017 4:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6

Si el mismo valor aparece más de 8 o 9 horas, es un dato inválido

En el día si es un dato inferior de 0.1 es inválido

En la noche valores menores a 0.004 son 0

En la noche los valores deben ser menores a 0.1, sino es inválido

In [3]:
import copy 
new_df = copy.deepcopy(num)

# Diccionario de valores de dirección del viento:

1: Norte 2: Noroeste 3: Oeste 4: Suroeste 5: Sur 6: Sureste 7: Este 8: Noreste

In [4]:
new_df.loc[num.WD <= 45,'Dirección_Viento']= 1
new_df.loc[(num.WD > 45) & (num.WD <= 90),'Dirección_Viento'] = 2  
new_df.loc[(num.WD > 90) & (num.WD <= 135),'Dirección_Viento'] = 3
new_df.loc[(num.WD > 135) & (num.WD <= 180),'Dirección_Viento'] = 4 
new_df.loc[(num.WD > 180) & (num.WD <= 225),'Dirección_Viento'] = 5
new_df.loc[(num.WD > 225) & (num.WD <= 270),'Dirección_Viento'] = 6
new_df.loc[(num.WD > 270) & (num.WD <= 315),'Dirección_Viento'] = 7
new_df.loc[num.WD > 315,'Dirección_Viento']= 8

In [5]:
new_df.head(15)

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS,Dirección_Viento
0,1/1/2017,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0,7.0
1,1/1/2017 1:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0,6.0
2,1/1/2017 2:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6,6.0
3,1/1/2017 3:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4,4.0
4,1/1/2017 4:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6,6.0
5,1/1/2017 5:00,1.77,3.3,9.4,12.6,6.0,NaN,52.0,708.3,0.0,62.0,NaN,0.003,18.96,272.0,2.5,7.0
6,1/1/2017 6:00,1.99,6.3,9.5,15.7,5.0,NaN,55.0,708.8,0.0,65.0,NaN,0.003,18.15,270.0,2.4,6.0
7,1/1/2017 7:00,1.61,3.5,7.7,11.2,7.0,NaN,48.0,709.2,0.0,62.0,NaN,0.009,18.81,237.0,4.1,6.0
8,1/1/2017 8:00,1.67,6.6,8.0,14.6,7.0,NaN,31.0,709.7,0.0,63.0,NaN,0.066,18.68,277.0,2.8,7.0
9,1/1/2017 9:00,1.93,14.3,11.0,25.4,8.0,NaN,35.0,710.3,0.0,62.0,NaN,0.151,19.42,338.0,1.0,8.0
10,1/1/2017 10:00,2.08,11.7,15.5,27.2,17.0,NaN,46.0,710.4,0.0,53.0,NaN,0.349,21.90,38.0,1.7,1.0
11,1/1/2017 11:00,1.94,9.2,17.0,26.3,26.0,NaN,76.0,710.2,0.0,50.0,NaN,0.476,23.11,33.0,3.2,1.0
12,1/1/2017 12:00,1.72,3.5,9.6,13.1,50.0,NaN,95.0,709.5,0.0,50.0,NaN,0.625,23.97,86.0,5.0,2.0
13,1/1/2017 13:00,1.59,1.9,5.3,7.3,56.0,NaN,77.0,708.4,0.0,48.0,NaN,0.601,24.86,61.0,6.7,2.0
14,1/1/2017 14:00,1.55,1.8,3.9,5.8,54.0,NaN,61.0,707.6,0.0,43.0,NaN,0.589,26.12,50.0,7.3,2.0